{% extends 'base.html' %}

{% block content %}
<h1>About Me</h1>
<p>BTech AI student at Mahindra University, passionate about Artificial Intelligence, Machine Learning, and NLP.</p>

<h2>Education</h2>
<ul>
    <li>B.Tech in Artificial Intelligence (2022-2026) - Mahindra University</li>
    <li>Intermediate - Trividyaa Junior College (2020-2022)</li>
</ul>

<h2>Certifications</h2>
<ul>
    <li>C Language Certification</li>
    <li>Accenture Nordics - Software Engineering Job Simulation</li>
    <li>MATLAB Certified</li>
</ul>

<h2>Career Goals</h2>
<p>My goal is to gain hands-on experience in AI development and contribute to impactful projects that leverage AI for real-world applications.</p>
{% endblock %}
