{% extends 'base.html' %}

{% block content %}
<h1>My Projects</h1>

<h2>Healthcare Assistant Chatbot</h2>
<p>An AI-powered chatbot built using Streamlit, Transformers, and NLTK to assist with basic healthcare queries.</p>
<p><b>Technologies:</b> Python, Streamlit, TensorFlow, NLTK</p>
<a href="https://github.com/Siddhubollam9/health-assistant">GitHub Repo</a>

<h2>Smart News Hub</h2>
<p>A web application that utilizes NLP and LangChain for personalized news summarization.</p>
<p><b>Technologies:</b> Python, NLP, Pinecone, LangChain</p>
<a href="https://github.com/grishaa25/Smart-News-Hub-">GitHub Repo</a>

<h3>Plastic Waste Classification using CNN
</h3>
<p>A deep learning-based model that classifies plastic waste into different categories using CNNs. This project automates waste sorting, improving recycling efficiency.</p>
<p><b>Technologies:</b> Python, TensorFlow/Keras, OpenCV, NumPy, Matplotlib, Deep Learning
 </p>
<a href="https://github.com/Siddhubollam9/CNN_Waste_Classification">GitHub Repo</a>

<h2>Future Projects</h2>
<ul>
    <li>AI-Powered Resume Analyzer</li>
    <li>Automated Student Score Analytics Tool</li>
</ul>
{% endblock %}
